<h2>Sign in</h2>
<p>If you don't already have a user one will be created with your login credantials</p>

<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input id='identification' placeholder='Email' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Password' type='password' value=password}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
